{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Ajout d'un Pays</h1>

        <form action="" method="post">

            <input type="text" name="name" placeholder="Nom" class="form-control"><br>
            <button class="btn btn-primary">Enregistrer</button>
        </form>
    </div>

{% endblock %}